.navbar {
  margin-bottom: 0;
}

.nav-item,
.nav-item:visited,
.nav-item:hover,
.nav-item:active {
  color: rgba(0,0,0,.9);
}

.question{
  color: blue;
  font-size: 1.5em;
  text-align: center;
  margin: .8em 0;
}

.answers {
  max-width: 600px;
  margin: auto;
}

.answers .card {
  font-size: 10em;
  text-align: center;
}
